extends ../base.pug

block title
    title Site administrator | Đổi mật khẩu
    link(rel="stylesheet", href="/static/admin/css/staffs/staffs.css")
    link(rel="stylesheet", href="/static/admin/css/css_component/input.css")

block content
    br
    .container-fluid
            .row
                .col-lg
                    .row
                        .col.m-1.bg-theme
                            include ../includes/breadcrumb.pug
            #title Đổi mật khẩu

            .row
                .col-lg
                    .row
                        .col.m-1.bg-theme
                            if err
                                .alert.border-left.text-danger.rounded-0.bg-theme.m-2
                                    strong= err
            .row
                .col-lg
                    .row
                        .col.m-1.bg-theme
                            form.p-2(action="" method="post")
                                .form-row
                                    .form-group.col-md-4
                                        label(for="oldpassword") Mật khẩu cũ :
                                    .form-group.col-md-8
                                        input#oldpassword.pl-2(
                                            type="password" 
                                            name="oldpassword"
                                            value= values ? values.oldpassword : ""
                                        )
                                .form-row
                                    .form-group.col-md-4
                                        label(for="newpassword") Mật khẩu mới :
                                    .form-group.col-md-8
                                        input#newpassword.pl-2(
                                            type="password" 
                                            name="newpassword"
                                            value= values ? values.newpassword : ""
                                        )
                                .form-row
                                    .form-group.col-md-4
                                        label(for="passwordconfirmation") Nhập lại mật khẩu :
                                    .form-group.col-md-8
                                        input#passwordconfirmation.pl-2(
                                            type="password" 
                                            name="passwordconfirmation"
                                            value= values ? values.passwordconfirmation : ""
                                        )
                                hr.bg-secondary
                                .form-row
                                    .form-group.col-md.text-right
                                        input.btn.btn-primary(type="submit", value="Lưu")
                            
block footer 
    