extends ../base.pug

block title
    title Site administrator | Người dùng
    link(rel="stylesheet", href="/static/admin/css/users/users1.css")
    
block content
    br
    form(action="", method="post")
        .container-fluid
            //- Notification
            if notification
                .row
                    .col-lg
                        .row
                            .col.m-1.bg-theme.p-2
                                strong.p-1.border-left.border-success.text-success= notification
            .row
                .col-lg
                    .row
                        .col.m-1.bg-theme
                            include ../includes/breadcrumb.pug

            .row
                .col-lg-3
                    .row.h-100
                        .col.m-1.d-flex.flex-row.bd-highlight.align-items-center.justify-content-center
                            .bd-highlight.text-white.p-2#title Người dùng
                            
                .col-lg-4
                    .row.h-100
                        .col.m-1.d-flex.flex-row.bd-highlight.align-items-center.justify-content-end.p-0
                            input#delete(type="submit" value= "Xóa")
                            label#lable-delete.m-0.bg-theme.bd-highlight.text-white.p-3(for="delete" data-toggle="tooltip" data-placement="bottom" title="Xóa")
                                svg.bi.bi-person-x(xmlns='http://www.w3.org/2000/svg', width='1.5em', height='1.5em', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')
                                    path(fill-rule='evenodd', d='M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z')
                            a.bg-theme.bd-highlight.text-white.p-3.ml-2(href="/admin/users/create" data-toggle="tooltip" data-placement="bottom" title="Thêm người dùng")
                                svg.bi.bi-person-plus(xmlns='http://www.w3.org/2000/svg', width='1.5em', height='1.5em', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')
                                    path(fill-rule='evenodd', d='M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z')
                .col-lg-5
                    .row.h-100
                        .bg-theme.col.m-1.d-flex.flex-row.bd-highlight.align-items-center.justify-content-center
                            input#search.h-50.w-100.text-white.bd-highlight.m-3(type="text", placeholder='Tìm kiếm')
            .row
                .col-lg
                    .row
                        .col.m-1.bg-theme
                            section
                                table.table.table-borderless.text-white
                                    thead
                                        tr
                                            th(scope='col') 
                                                .custom-control.custom-checkbox.pb-2
                                                    input#customControlAutosizing.custom-control-input(type='checkbox')
                                                    label.custom-control-label(for='customControlAutosizing')
                                            th(scope='col')
                                                h5.font-weight-normal Tên đăng nhập
                                            th(scope='col')
                                                h5.font-weight-normal Tên
                                            th(scope='col')
                                                h5.font-weight-normal Họ
                                            th(scope='col')
                                                h5.font-weight-normal Email
                                            th(scope='col')
                                                h5.font-weight-normal Số điện thoại
                                    tbody#content-user
                                        each user in users
                                            tr
                                                th(scope='row') 
                                                    .custom-control.custom-checkbox.mb-1
                                                        input.custom-control-input(type='checkbox', id = user._id, name = user._id)
                                                        label.custom-control-label(for= user._id)
                                                    
                                                td 
                                                    a(href="/admin/users/" + user._id).text-white=user.username
                                                td= user.firstname
                                                td= user.lastname
                                                td= user.email
                                                td= user.phone

block footer
    script(src="/static/admin/js/users/users.js")